.container {
  width: 300px;
  height: 120px;
  display: flex;
  justify-content: flex-end;
  text-align: right;

  img {
    object-fit: contain;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.info {
  display: flex;
  flex-direction: column;

  gap: 5px;
  h2,
  h3,
  p {
    margin: 0;
  }
}

.separator {
  height: 90%;
  width: 2px;
  background-color: gray;
  margin: 0 20px;
}
